* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --yasil: #54d154;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100vh;
    background:url('/img/headerbg.jpg') center/cover ;
    background-repeat: no-repeat;
}

h1 {
    font: 700 2em Montserrat;
    color: #fff;
}

li>a {
    text-decoration: none;
}

#menu {
    list-style: none;
}

#menu li {
    margin: 10px;
}

#menu li a {
    font: 700 1em Roboto;
    color: white;
    padding: 5px 0;   
    border-bottom: 5px solid #00000000 ; 
}

#search {
    display: flex;
}

#search input:first-of-type { border-radius: 1em 0 0 1em; width: 140px;}
#search button { border-radius: 0 1em 1em 0;} 

#search input, #search button {
     background: #ffffffcc;
     border: none;
     outline: none;
     padding: 5px 15px;
}

#buttons3 {
    padding: 20px;
    display: flex;
    justify-content: center;
}

#buttons3 button {
    background: #fff;
    border: 1px solid #2b9b2b;
    padding: 7px 15px;
    font: 1em Roboto;
    color: #2b9b2b;
}

#buttons3 button:hover, #buttons3 button.active {
    background-color: #2b9b2b;
    color: #fff;
}

#buttons3 button:first-of-type{border-radius: 20px 0 0 20px;}
#buttons3 button:last-of-type{border-radius: 0 20px 20px 0;}


.bgag {background-color: #fff;}
.bgyasil {background-color:var(--yasil) ;}
.bgboz {background-color: #f1f1f1;}
.bgyasil h2 { color: #1f7b1f;}
.bgyasil h6 { color: #2b9b2b;}
.bgyasil hr {background-color: #1f7b1f;}

h2 {
    font: 1.3em ;
    letter-spacing: 4px;
    color: #828181;
    font-weight: 300;
    font-family: "Montserrat" sans-serif;
    text-transform: uppercase;
}

h6 {
    font: 1em Roboto;
    color: #b7b3b3;
}

hr {
    width: 3em;
    border: 0;
    height: 2px;
    background-color: #828181;
    margin: auto;
}

main>section {
    padding: 2em;
    text-align: center;

}


#aboutart { padding: 20px 0; }
#aboutart article { padding: 10px 20px; }
#aboutart article span {
    background: #e0f3e0;
    width: 140px;
    height: 140px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    font-size: 5.4em;
    color: var(--yasil);
}


@media only screen and (min-width:768px) {
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #menu {
        display: flex; 
        order: -1;
    }

    h1 {
        font-size: 3.5em;
    }

    #menu li a:hover, #menu li a.active {
        border-top: 5px solid var(--yasil);
        }

    #aboutart {
        display: flex;
    }
    
        
}