@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --yasil: #54d154;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: url('/img/artimg.jpg') center/cover;
    background-repeat: no-repeat;
    opacity: .9;

}

h1 {
    font: 700 2em Montserrat;
    color: #fff;
}

li>a {
    text-decoration: none;
}

#menu {
    list-style: none;
}

#menu li {
    margin: 10px;
}

#menu li a {
    font: 700 1em Roboto;
    color: white;
    padding: 5px 0;
    border-bottom: 5px solid #00000000;
}

#search {
    display: flex;
}

#search input:first-of-type {
    border-radius: 1em 0 0 1em;
    width: 140px;
}

#search button {
    border-radius: 0 1em 1em 0;
}

#search input,
#search button {
    background: #ffffffcc;
    border: none;
    outline: none;
    padding: 5px 15px;
}

#buttons3 {
    padding: 20px;
    display: flex;
    justify-content: center;
}

#buttons3 button {
    background: #fff;
    border: 1px solid #2b9b2b;
    padding: 7px 15px;
    font: 1em Roboto;
    color: #2b9b2b;
}

#buttons3 button:hover,
#buttons3 button.active {
    background-color: #2b9b2b;
    color: #fff;
}

#buttons3 button:first-of-type {
    border-radius: 20px 0 0 20px;
}

#buttons3 button:last-of-type {
    border-radius: 0 20px 20px 0;
}


.bgag {
    background-color: #fff;
}

.bgyasil {
    background-color: var(--yasil);
}

.bgboz {
    background-color: #f1f1f1;
}

.bgyasil h2 {
    color: #1f7b1f;
}

.bgyasil h6 {
    color: #2b9b2b;
}

.bgyasil hr {
    background-color: #1f7b1f;
}

h2 {
    font: 1.3em;
    letter-spacing: 4px;
    color: #828181;
    font-weight: 300;
    font-family: "Montserrat" sans-serif;
    text-transform: uppercase;
}

h6 {
    font: 1em Roboto;
    color: #b7b3b3;
}

hr {
    width: 3em;
    border: 0;
    height: 2px;
    background-color: #828181;
    margin: auto;
}

main>section {
    padding: 2em;
    text-align: center;

}


#aboutart {
    padding: 20px 0;
}

#aboutart article {
    padding: 10px 20px;
}

#aboutart article span {
    background: #e0f3e0;
    width: 140px;
    height: 140px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    font-size: 5.4em;
    color: var(--yasil);
}

#imgs img {
    width: 160px;
    height: 160px;
    padding: 20px;
    object-fit: cover;
}  

.ceo {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.ceo-face {
    border: 1px solid rgb(114, 114, 114);
    padding: 5px 7px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.ceo-name {
    margin-left: .5rem;
    text-align: start;
}

.section-3 p{
    max-width: 450px;
    margin: 0 auto;
    margin-top: 4rem;
}

#google {
    height: 48px; width: 142px;
}

#yahoo {
    height: 27px; width: 140px;
}

#microsoft {
    height: 30px; width: 144px;
}

#qualcomm {
    height: 32px; width: 149px;
}

#asus {
    height: 21px; width: 116px;
}

#intel {
    height: 68px; width: 103px;
}

.line {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.line>img{
    margin-top: 2rem;
}

.member>hr {
    width: 2px;
    height: 80px;
    color: #1f7b1f;
}

 #krisna {
    background: url('../img/krisna.png') center top/cover; ;
}

#gabriel {
    background: url('/img/gabriel.png') center top/cover;
}

#adik {
    background: url('/img/adik.png') center top/cover;
}

#zlatan {
    background: url('/img/zlatan.png') center top/cover;
}

#zan {
    background: url('/img/zan.png') center top/cover;
}

.team {
    display: grid;
    justify-content: center;
}

.member {
    margin-bottom: 50px;
}

.person {
    background-color: #fff; 
    border-radius: 50%; 
    width: 124px; 
    height: 124px;
}

.person>div { 
    width: 124px; 
    height: 124px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.social {
    padding: 5px 10px; 
    background: #c5e9c5;
    border-radius: 1.5em;
    margin-top: 10px;
}
    
h5 { font: 1em Roboto; color: #fff; }


.social i { font-size: 2em; }
.fa-dribbble-square { color: #da8ca7;  }
.fa-behance-square { color: #7fa9ee; }
.fa-twitter-square { color: #82c2db; }

footer {
    display: grid;
    justify-content: center;
    padding: 4em 2em;
    background-color: #000000b3;
}

input, textarea {
background: #434343;;
}

.recent .post {
    display: flex;
}

.img>img {
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 50px;
}

.about_us .social {
    display: flex;
    justify-content: center;
    margin: 1rem 5rem;
}

.about_us hr {
    margin-bottom: 1rem;
}

.about_us>* {
    display: flex;
    justify-content: center;
}

#form-contact {
    display: grid;
    flex-direction: column;
}

.contact h3 {
    display: grid;
    justify-content: center;
}

.about_us p {
    text-align: center;
}

.contact {
    text-align: center;
}

@media only screen and (max-width: 600px) {

    #imgs>img { width: 100%; height: auto;}
}

@media only screen and (min-width:768px) {
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #menu {
        display: flex;
        order: -1;
    }

    h1 {
        font-size: 3.5em;
    }

    #menu li a:hover,
    #menu li a.active {
        border-top: 5px solid var(--yasil);
    }

    #aboutart {
        display: flex;
    }

    #imgs {
        display: flex;
        flex-wrap: wrap;
        max-width: 900px;
        margin: auto;
    }


    .line img:not(:first-child){
        margin-left: 7rem;
    }

}